@use 'library' as *;

.component-menu {
    display: flex;
    gap: 2px;
    justify-content: space-between;
    width: 270px;
    position: absolute;
    background-color: $paper-grey;
    box-shadow: 0px 0px 8px 2px $dark-shadow;
    color: $white;
    transition: .1s;
    padding: $spacing*.5;
    animation: fade-in .3s;
    & button {
        color: $white;
        font-size: 1em;
        padding: $spacing*.5 $spacing;
        background: none;
        border: none;
        border-radius: 4px;
        transition: .5s;
        &:active {
            background-color: rgba(#eee,.5);
        }
    }
    & input {
        background-color: $paper-grey;
        color: $white;  
        position: absolute;
        bottom: -2em;
        border: none;
        border-radius: 2px;
        padding: $spacing;
        font-size: medium;
        letter-spacing: .15em;
        box-shadow: 0px 0px 8px 2px $dark-shadow;
        &:focus {
            outline: none;
        }
    }
}

.more-menu {
    list-style-type: none;
    position: absolute;
    top: 2.5em;
    right: -2.5em;
    padding: $spacing;
    margin: 0;
    background-color: $paper-grey;
    color: $white;
    border-radius: 2px;
    @include neumorphism;
    & li {
        padding: $spacing*.5 $spacing;
        border-radius: 2px;
        &:hover {
            background: linear-gradient(135deg, rgba($white, .4), 10px, transparent, 260px, transparent);
            background-size: 300px 300px;
            animation: shine 1s;
            animation-fill-mode: forwards;
        }
    }
}