$spacing: 8px;
$white: #d1d1d1;
$front-grey: #545454;
$back-grey: #2e2e2e;
$paper-grey: #3e3e3e;
$dark-shadow: #2e2e3e; 
$light-shadow: #555560;
$darker-shadow: #181822;

@function checkered($color1, $color2,$segment) {
    $color1: rgba($color1,.5);
    $color2: rgba($color2,.5);
    @return repeating-linear-gradient(to bottom, $color2, $color2 1px, $color1 1px, $color1 $segment), repeating-linear-gradient(to right, $color2, $color2 1px, $color1 1px, $color1 $segment);
}

@mixin neumorphism {
    border: none;
    background-color: inherit;
    box-shadow: 2px 2px 4px $dark-shadow, -2px -2px 4px rgba($light-shadow, .75);
}

@mixin neumorphism-inset {
    border: none;
    background-color: inherit;
    box-shadow: inset 2px 2px 4px $dark-shadow, inset -2px -2px 4px rgba($light-shadow, .75);
}

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1} 
}

@keyframes expand {
    from {transform: scale(0) }
    to {transform: scale(1) } 
}