@use 'library' as *;

.toolbox-container { 
    @include neumorphism;
    border-radius: 4px;
    overflow: hidden;
    & ul {
        padding: $spacing;
        margin: 0;
    }
    & li {
        padding: $spacing;
        cursor: move;
        list-style-type: none;
        transition: .2s;
        border-radius: 2px;
        &:hover {
            background: linear-gradient(135deg, rgba($white, .4), 10px, transparent, 260px, transparent);
            background-size: 300px 300px;
            animation: shine 1s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes shine {
    0% {background-position: -40px -40px}
    20% {background-position: 0 0}
    100% {background-position: -20px -20px}
}

.while-dragging {
    @include neumorphism-inset
}